[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wyze-sdk = {path = "."}
requests = "*"
blackboxprotobuf = {git = "https://github.com/chandlernine/blackboxprotobuf.git@relax_requirements", editable = true}
mintotp = "*"
pycryptodomex = "*"

[dev-packages]
flake8 = "*"
isort = "*"
sphinx = "*"

[requires]
python_version = "3.9"
